---
title: EDITOR
---
extends shared/_layout
block content

  .editor
    // editor head
    .editor-head
      .container
        .editor-head__wrapper
          
    // grid
    .editor-grid(js-swiper-scroll-x).swiper-container
      .swiper-wrapper
        .editor-grid__col
        
        .editor-grid__col
          
        .editor-grid__col
        
        .editor-grid__col
        
        .editor-grid__col
        
        .editor-grid__col
        
        .editor-grid__col
      
      // blank message
      .editor-info
        
