// INDEX

.e-head
  position: absolute
  top: 40px
  right: 0
  left: 0
  z-index: 9
  background: white
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)

  &__wrapper
    display: flex
    align-items: center
    height: 60px

  /* fixed values is for centering
  &__create-controls, &__scene-controls
    flex: 0 0 300px
    max-width: 300px
    min-width: 1px
    min-height: 0


  &__create-controls

  &__file-controls
    flex: 1 1 auto
    max-width: 100%
    min-width: 1px
    display: flex
    align-items: center
    justify-content: center

  &__scene-controls

  &__file-name
    flex: 0 1 auto
    width: auto
    font-size: 18px
    line-height: 1.5
    font-weight: 600
    +text-overflow


.editor
  padding-top: 100px
  &-grid
    display: flex
    /* 100px is a header offset
    height: calc(100vh - 100px)
    // min-height: 400px

    .swiper-scrollbar-drag
      height: 5px
    &__col
      position: relative
      z-index: 1
      flex: 0 0 230px
      max-width: 230px
      min-width: 1px
      min-height: 0
      &::after
        display: inline-block
        content: ' '
        position: absolute
        /* offset for the actions and titles
        top: 25px
        bottom: 0
        right: 0
        z-index: 1
        width: 1px
        background: $borderColor
      &:last-of-type
        &::after
          display: none




/* inof message
.editor-info
  position: absolute
  z-index: 5
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  background: $lightBg
  text-align: center
  padding: 30px 25px 35px
  p
    font-size: 18px
    font-weight: 300
    color: $fontColorMute
    margin-bottom: 20px
