.ico-back-arrow {
  width: 0.71em;
  height: 1em;
  fill: #fff;
}
.ico-caret {
  width: 1.43em;
  height: 1em;
  fill: #C4C4C4;
}
.ico-music-note {
  width: 0.94em;
  height: 1em;
  fill: #C4C4C4;
}
.ico-play {
  width: 0.78em;
  height: 1em;
  fill: #fff;
}
.ico-plus {
  width: 1.09em;
  height: 1em;
  fill: #fff;
}
.ico-speaker {
  width: 0.75em;
  height: 1em;
  fill: #C4C4C4;
}
